.root{
    -fx-background-color: black;
}

* {
    -fx-my-menu-color: #263238;                  /* Change according to your needs */
    -fx-my-menu-color-highlighted: #455a64;      /* Change according to your needs */
    -fx-my-menu-font-color: #FFFFFF;             /* Change according to your needs */
    -fx-my-menu-font-color-highlighted: #FFFFFF; /* Change according to your needs */
    -fx-theme-background-color: black;
    -fx-theme-color: #003333;
    -fx-prompt-text-color: gray;
}

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/    
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/    
.menu-item {
    -fx-background-color: -fx-my-menu-color;
}

/*** The item's label (not hovered / focused) ***/   
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** The item's label (disabled) ***/   
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}    

/*** The item itself (hovered / focused) ***/    
.menu-item:focused, .menu-item:hovered {
    -fx-background-color: -fx-my-menu-color-highlighted; 
}

/*** The item's label (hovered / focused) ***/  
.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* CONTEXT MENU */
/*** The context menu that contains a menu's menu items ***/  
.context-menu {
    -fx-background-color: -fx-my-menu-color; 
}


.jfx-text-field, .jfx-password-field {
    -fx-prompt-text-fill: -fx-prompt-text-color;
    -jfx-focus-color: -fx-theme-color;
    -fx-text-fill: -fx-theme-color;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.grid-pane{
    -fx-background-color: #000;
}

.tab-pane
{
    -fx-tab-min-width: 200px;
    -fx-tab-min-height: 30px;
    -fx-background-color: -fx-theme-color;
}

.tab{
    -fx-background-insets: 0 1 0 1, 1, 5;
    -fx-text-alignment: CENTER;
}
.tab-pane .tab
{
    -fx-background-color: -fx-theme-color;
}

.tab-pane .tab:selected
{
    -fx-background-color: #000000;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #006666;
}

.list-view {
    -fx-background-color: #232323;
}

.list-view .list-cell:hover {
    -fx-background-color: #434343;
}

.list-view .list-cell:selected {
    -fx-background-color: #434343;
}

.list-view .list-cell {
    -fx-background-color: #232323;
    -fx-text-fill: white;
}

.list-view .label {
    -fx-text-fill: white;
}

.jfx-rippler {
    -jfx-rippler-fill: red;
}

.jfx-popup-container{
    -fx-text-fill: -fx-theme-color;
    -fx-border-color: black;
    -fx-hgap:3;
    -fx-vgap:5;
}
.jfx-popup .jfx-list-view{
    -fx-background-color: black;
}


.jfx-drawer-overlay-pane {
    -fx-background-color: rgba(0.0, 0.0, 0.0, 0.1)
}

.jfx-drawer-side-pane {
    -fx-background-color: #000000;
    -fx-border-width: 1 0 1 1;
    -fx-border-color: white;
}

.jfx-button {
     -jfx-button-type: RAISED;
     -fx-background-color: black;
     -fx-border-color: white;
     -fx-text-fill: white;
}

.check-box .box {

-fx-background-color: black;
-fx-border-color: white;
-fx-border-radius: 1px; 

}

.check-box:selected .mark {

-fx-background-color: black;

}

.check-box:selected .box {

    -fx-background-color: -fx-theme-color;
}

.jfx-radio-button{
    -fx-selected-color: -fx-theme-color;
}

.jfx-text-area {
    -jfx-focus-color: -fx-theme-color;
    -jfx-unfocus-color: #4d4d4d;
    -fx-padding: 0.333333em 0 0 0 ;
}

.jfx-text-area > .input-line {
    -fx-background-color: -jfx-unfocus-color;
    -fx-pref-height: 1px;
    -fx-translate-y: 1px;
}

.jfx-text-area > .input-focused-line {
    -fx-background-color: -jfx-focus-color;
    -fx-pref-height: 2px;
}

.jfx-text-area,
.jfx-text-area:focused {
    -fx-prompt-text-fill: -fx-prompt-text-color;
}

.jfx-text-area,
.jfx-text-area .scroll-pane,
.jfx-text-area:focused,
.jfx-text-area:focused .scroll-pane{
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-text-fill: -fx-theme-color;
}

.jfx-text-area .content,
.jfx-text-area:focused .content{
    -fx-background-color:TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-padding: 0 0 0 0;
}

.jfx-time-picker{
    -jfx-default-color: #009688;
}

.jfx-time-picker,
.jfx-time-picker:focused,
.jfx-time-picker:focused:editable {
    -fx-background-color: black;
    /*TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;*/
}

.jfx-time-picker > .arrow-button,
.jfx-time-picker:editable > .arrow-button,
.jfx-time-picker:focused > .arrow-button,
.jfx-time-picker:editable:focused > .arrow-button{
    -fx-background-color: TRANSPARENT;
    -fx-padding: 1 8 1 8;
}

.jfx-time-picker > .arrow-button > .jfx-svg-glyph{
    -fx-background-color: -jfx-default-color;
}

.date-picker-popup > * > .spinner {
    -fx-spacing: 0.25em; /* 3 */
    -fx-alignment: CENTER;
    -fx-fill-height: false;
    -fx-background-color: transparent;
}

.date-picker-popup > * > .spinner > .label {
    -fx-alignment: CENTER;
}